/* Siga as orientações no arquivo README para concluir o exercício */

.container {
    font-family: Arial, sans-serif;
    padding: 20px;
    background-color: green;
    color: goldenrod;
}

.cabecalho{
    background-color: hotpink;
    text-align: center;
}

.titulo{
    font-size: 32px;
    font-weight: bold;
}

.subTitulo{
    color: linen;
}

.conteudo{
    background-color: peru;
    color: yellowgreen;
}

.conteudo p { 
    color: #E4005A;
    font-size: 42px;
}

.conteudo p:nth-of-type(3){
    color: purple;
    font-size: 20px;
}